* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}
/* Стили для LOADER */
.mask {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	z-index: 100;
	transition: 0.9s;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader {
	width: 75px;
	height: 75px;
	border: 10px solid rgba(13, 71, 161, 0.6);
	border-radius: 50%;
	border-left-color: #0d47a1;
	animation: loader 1s linear infinite;
}
@keyframes loader {
	100% {
		transform: rotate(360deg);
	}
}
.hide {
	opacity: 0;
}

@keyframes animationElement {
	form {
		border-radius: 1px;
		box-shadow: 0px 0px 0px 0px blue;
	}
	50% {
		border-radius: 1px;
		box-shadow: 0px 0px 0px 5px blue;
	}
	to {
		border-radius: 1px;
		box-shadow: 0px 0px 0px 0px blue;
	}
}

body {
	--background-wrapper: linear-gradient(135deg, #153677, #4e085f);
	--background-main: #ffffff;
	--text-header: #413f3f;
	--input-background-color: #f7f7f7;
	--input-border: #6c63ff;
	--input-box-shadow: 0px 0px 0px 2px #6c63ff;
	--icon-search-background: #ffffff;
	--icon-search: url(../img/light/light-search.svg);
	--input-placeholder: #c3c1e5;
	--placeholder-text: #6c63ff;
	--pop-upbackground-color: #f7f7f7;
	--pop-up-text-header: #252525;
	--pop-up-btn-cancel: #f7f7f7;
	--pop-up-btn-cancel-hover: #ceced3;
	--btn-image: url(../img/light/dark-theme.svg);
	--background-image-unmarked: url(../img/light/light-back.svg);
	--border: #6c63ff;
	--todo-list-background: #f7f7f7;
	--todo-list-text-color: #000000;
	--todo-list-icon-background-color: #f7f7f7;
}

body.dark-theme {
	--background-wrapper: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(80, 80, 134, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
	--background-main: #413f3f;
	--text-header: #f7f7f7;
	--input-background-color: #413f3f;
	--input-border: #f7f7f7;
	--input-box-shadow: 0px 0px 0px 2px #f7f7f7;
	--icon-search-background: #413f3f;
	--icon-search: url(../img/dark/dark-search.svg);
	--input-placeholder: #666666;
	--placeholder-text: #f7f7f7;
	--pop-upbackground-color: #413f3f;
	--pop-up-text-header: #f7f7f7;
	--pop-up-btn-cancel: #413f3f;
	--pop-up-btn-cancel-hover: #b8dddd;
	--btn-image: url(../img/dark/light-theme.svg);
	--background-image-unmarked: url(../img/dark/dark-back.svg);
	--todo-list-background: #413f3f;
	--todo-list-text-color: #f7f7f7;
	--todo-list-icon-background-color: #413f3f;
	/* не менял */
	--border: #6c63ff;
}
.wrapper {
	width: 100%;
	min-height: 100vh;
	background: var(--background-wrapper);
	padding: 10px;
}

.todo-app {
	width: 100%;
	max-width: 770px;
	min-height: 392px;
	background: var(--background-main);
	margin: 100px auto 20px;
	border-radius: 10px;
	padding: 40px 5px 70px;
	position: relative;
	container: sidebar / inline-size;
}
.todo-app h1 {
	display: flex;
	justify-content: center;
	color: var(--text-header);
	font-weight: 500;
	font-size: 26px;
	line-height: 38.87px;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.search-note {
	margin-right: 15px;
	display: flex;
	justify-content: flex-start;
}
.search-note input:focus {
	outline: none;
	box-shadow: var(--input-box-shadow);
	opacity: 0.6;
}

* {
	box-sizing: border-box;
}
form {
	position: relative;
	margin: 0 auto;
}

input[class='search'] {
	right: 13px;
	margin-top: 7px;
	border: none;
	position: absolute;
	cursor: pointer;
	background-color: var(--icon-search-background);
	background-image: var(--icon-search);
	background-repeat: no-repeat;
	width: 21px;
	height: 21px;
}
input[class='name-note'] {
	border: 1px solid var(--input-border);
	border-radius: 5px;
	width: 595px;
	height: 38px;
	padding: 8px 16px 8px 16px;
}

input[placeholder='Search note...'] {
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	color: var(--placeholder-text);
	background-color: var(--input-background-color);
}

/* Выпадающий список  */
select {
	appearance: none;
	outline: none;
	box-shadow: none;
	color: #f7f7f7;
	cursor: pointer;
	width: 6.313rem;
	height: 2.375rem;
	background-color: #6c63ff;
	border: 1px solid #6c63ff;
	border-radius: 5px;
	padding-left: 8px;
}
.select {
	margin-right: 11px;
	color: #f7f7f7;
	position: relative;
	overflow: hidden;
}
.select::after {
	position: absolute;
	content: '';
	top: 16px;
	right: 5px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
	pointer-events: none;
}

.option {
	background-color: #ffffff;
	color: #6c63ff;
}

/* Стили для кнопки переключения темы */
.btn-theme {
	border: 1px solid var(--border);
	width: 38px;
	height: 38px;
	border-radius: 5px;
	background-color: #6c63ff;
	cursor: pointer;
	background-image: var(--btn-image);
	background-repeat: no-repeat;
	background-position: center;
}
.btn-theme:hover {
	background-color: #5850dd;
}
/* Если в todo-app есть класс todo то мы задаем
классу unmarked-background display:none
!important дает наивысший приоритет в стилях
*/
.todo-app:has(.todo) > .unmarked-background {
	display: none !important;
}

/* Задний фон без заметок  */
.unmarked-background {
	background-image: var(--background-image-unmarked);
	background-repeat: no-repeat;
	width: 221px;
	height: 174px;
	margin-left: 264px;
	margin-top: 30px;
	display: block;
}

/* Делаем стили для заметок */
.todo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.todo-list {
	list-style: none;
	min-width: 68%;
}
.todo {
	height: 30px;
	margin-top: 30px;
	background: var(--todo-list-background);
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.5s ease;
}
.todo li {
	flex: 1;
	margin-left: 17px;
}
.todo li:focus {
	outline: none;
	border: 1px solid #6c63ff;
	border-radius: 4px;
	max-width: 500px;
	margin-right: 80px;
}
.todo-item {
	color: var(--todo-list-text-color);
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	padding: 0.17rem 0rem;
	padding-left: 7px;
}

.complete-btn {
	width: 26px;
	height: 26px;
	border: 1px solid #6c63ff;
	border-radius: 2px;
	background-color: var(--todo-list-icon-background-color);
	cursor: pointer;
}
.completed::after {
	content: '';
	position: relative;
	right: 496px;
	bottom: 3px;
	width: 13.65px;
	height: 7px;
	transform: rotate(-45deg);
	pointer-events: none;
}

.completed > .complete-btn {
	background-color: #6c63ff;
}

.completed > .todo-item {
	text-decoration: line-through;
	opacity: 0.5;
}
.completed::after {
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
}

.edit-btn {
	position: absolute;
	color: #cdcdcd;
	margin-left: 450px;
	font-weight: 600;
	font-size: 13px;
	line-height: 13px;
	background-color: var(--todo-list-icon-background-color);
	border: none;
	cursor: pointer;
}
.edit-btn:hover {
	color: #6c63ff;
}
.trash-btn {
	position: absolute;
	margin-left: 490px;
	background-image: url(../img/light/del-icon.svg);
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	background-color: var(--todo-list-icon-background-color);
	border: none;
	cursor: pointer;
}
.trash-btn:hover {
	background-image: url(../img/light/del-icon-hover.svg);
}

/* Делаем pop-up кнопку и окно  */
.plus_button {
	position: absolute;
	display: flex;
	width: 50px;
	height: 50px;
	background-color: #6c63ff;
	border-radius: 50%;
	border: 1px solid var(--border);
	cursor: pointer;
	align-items: center;
	justify-content: center;
	margin-left: 700px;
	margin-top: 326px;
	bottom: 20px;
	right: 20px;
}

.plus_button:hover {
	background-color: #534cc2;
}

.pop_up {
	/* display: none;  это убрали для анимации */
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: transparent;
	z-index: 2; /* -44.5%*/
	transition: 0.5s ease-in-out;
	transform: translateX(0%) translateY(0%) scale(0); /*переносим po-up на координаты кнопки и поставим масштаб 0 */
}

.pop_up.active {
	/* display: block; это убрали для анимации */
	transform: translateX(0%) translateY(0%) scale(100%); /*переноси pop-up обратно */
	background-color: rgb(0, 0, 0, 0.8);
}
.pop_up_container {
	display: flex;
	width: 100%;
	height: 100%;
}
.pop_up_body {
	margin: auto;
	position: relative;
	width: 500px;
	height: 289px;
	border-radius: 16px;
	background-color: var(--pop-upbackground-color);
	border: 1px solid #f7f7f7;
	border-radius: 16px;
}

.pop_up_body p {
	text-align: center;
	color: var(--pop-up-text-header);
	font-size: 24px;
	line-height: 24px;
	font-weight: 500;
	margin-top: 18px;
}

.pop_up_body input {
	display: block;
	width: 440px;
	height: 38px;
	margin: 30px 25px 128px auto;
	border: 1px solid var(--input-border);
	border-radius: 5px;
	padding: 8px 16px 8px 16px;
}

.pop_up_body input:focus {
	outline: none;
	box-shadow: var(--input-box-shadow);
	opacity: 0.6;
}

input[placeholder='Input your note...'] {
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	color: var(--placeholder-text);
	background-color: var(--input-background-color);
}
input::placeholder {
	color: var(--input-placeholder);
}

.pop_up_btn_container {
	display: flex;
	justify-content: space-between;
}
.btn-cancel {
	width: 110px;
	height: 38px;
	border: 1px solid var(--border);
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	line-height: 18px;
	font-weight: 500;
	color: #6c63ff;
	margin-left: 30px;
	background-color: var(--pop-up-btn-cancel);
}
.btn-apply {
	width: 110px;
	height: 38px;
	border: 1px solid var(--border);
	background-color: #6c63ff;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 30px;
}
.apply {
	font-size: 18px;
	line-height: 18px;
	font-weight: 500;
	color: #f7f7f7;
}
.btn-cancel:hover {
	background-color: var(--pop-up-btn-cancel-hover);
}
.btn-apply:hover {
	background-color: #534cc2;
}
