.todo-app {
	background: #252525;
}

.todo-app h1 {
	color: #f7f7f7;
}

input[class='name-note'] {
	border: 1px solid #f7f7f7;
}

input[placeholder='Search note...'] {
	color: #f7f7f7;
}
input::placeholder {
	color: #666666;
}

/* Делаем pop-up кнопку и окно  */

.pop_up_body {
	background-color: #252525;
}

.pop_up_body p {
	color: #f7f7f7;
}

.pop_up_body input {
	border: 1px solid #f7f7f7;
}

input[placeholder='Input your note...'] {
	color: #f7f7f7;
}

input::placeholder {
	color: #666666;
}

.btn-cancel {
	border: 1px solid #6c63ff;
	color: #6c63ff;
}
.btn-aplly {
	border: 1px solid #6c63ff;
	background-color: #6c63ff;
}
.btn-cancel:hover {
	background-color: #ceced3;
}
.btn-aplly:hover {
	background-color: #534cc2;
}

.change-theme[data-theme='light'] {
	display: block;
}

.change-theme[data-theme='dark'] {
	display: none;
}
